.container {
    border: 6px solid lightgray;
    display: flex;
    height: 800px;
    width: 500px;
    flex-wrap: wrap;
    align-content: space-;
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.item-1 {
    background-color: lightblue;
}

.item-2 {
    background-color: lightcoral;
}

.item-3 {
    background-color: lightgray;
}

.item-4 {
    background-color: lightblue;
}

.item-5 {
    background-color: lightcoral;
}

.item-6 {
    background-color: lightgray;
}
